<div class="d-flex justify-content-around align-items-center">
                <h1 class="d-none" id="postId">{{id}}</h1>
                <h1 class="d-none" id="userId">{{#if @member}}{{@member.uuid}}{{/if}}</h1>
            <h2>How do you think about this post?</h2>
            <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                        <div class="d-none" id="liked">0</div>
                        <a class="" 
                        {{#unless @member}}href ='#/portal'{{/unless}}
                        title="Like" rel="noopener" 
                        {{#if @member}}onclick="like()"{{/if}}
                        >{{> "icons/like"}}</a>
                        <p id="like-num" class="mt-1 font-weight-bold" style="font-size: large;">-</p>
            </div>
            <div class="ml-5 d-flex flex-column align-items-center">
                        <div class="d-none" id="clapped">0</div>
                        <a class="" 
                        {{#unless @member}}href ='#/portal'{{/unless}} 
                        title="Like" rel="noopener" 
                        {{#if @member}}onclick="clap()"{{/if}}
                        >{{> "icons/clap"}}</a>
                        <p id="clap-num" class="mt-1 font-weight-bold" style="font-size: large;">-</p>
            </div>
            </div>
                <script>
        const postId = document.getElementById("postId").innerHTML
        const userId = document.getElementById("userId").innerHTML
        const baseURL = "http://localhost:8000/api/v1.0/posts"
        const getUrl = baseURL + "?postId=" + postId + "&userId=" + userId
        
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            res = JSON.parse(this.responseText)
            console.log(res)
            const like = res?.postInfo?.like ? res.postInfo.like : 0;
            const clap = res?.postInfo?.clap ? res.postInfo.clap : 0;

            document.getElementById("like-num").innerHTML = like
            document.getElementById("clap-num").innerHTML = clap

            const liked = res?.postMember?.like ? res.postMember.like : 0;
            const clapped = res?.postMember?.clap ? res.postMember.clap: 0;

            document.getElementById("liked").innerHTML = liked
            document.getElementById("clapped").innerHTML = clapped
            if(clapped > 0){
                document.getElementById("Capa_1").setAttribute("fill", 'red')
                if(clapped >= 30)
                document.getElementById("Capa_1").setAttribute("fill", "grey")
            }
            document.getElementById("Layer_1").setAttribute("fill", liked > 0 ? 'red': 'black')
        }
        xhttp.open("GET", getUrl);
        xhttp.send();
        function clap(){
            
            const postURL = "http://localhost:8000/api/v1.0/posts/clap"
            const api = new XMLHttpRequest();
            
            
            api.onload = function(){
                console.log("ok")
                res = JSON.parse(this.responseText)
                const clap = res?.postInfo?.clap;
                const clapped = res?.postMember?.clap;
                if(clapped){
                    document.getElementById("clapped").innerHTML = clapped
                    if(clapped > 0){
                        document.getElementById("Capa_1").setAttribute("fill", 'red')
                        if(clapped >= 30)
                    document.getElementById("Capa_1").setAttribute("fill", "grey")
                    }
                }
                if(clap)
                    document.getElementById("clap-num").innerHTML = clap
            }
            api.open("POST", postURL)
            api.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            api.send("postId=6230175a99fa908d6e58f492&userId=nhatducmo@gmail.com")
        }
        function like(){
            const postURL = "http://localhost:8000/api/v1.0/posts/like"
            const api = new XMLHttpRequest();
            
            api.onload = function(){
                res = JSON.parse(this.responseText)
                const like = res?.postInfo?.like;
                const liked = res?.postMember?.like;
                if(liked !== undefined){
                    document.getElementById("liked").innerHTML = liked
                    
                    document.getElementById("Layer_1").setAttribute("fill", liked === 0 ? 'black': 'red')
                }
                if(like)
                    document.getElementById("like-num").innerHTML = like
            }
            api.open("POST", postURL, true)

            api.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            api.send("postId=6230175a99fa908d6e58f492&userId=nhatducmo@gmail.com")
        }
    </script>
            </div>