<div class="d-flex justify-content-start align-items-center" style="height: 50px; box-sizing:border-box">
            <h1 class="d-none" id="postId">{{id}}</h1>
            <h1 class="d-none" id="userId">{{#if @member}}{{@member.uuid}}{{/if}}</h1>
            <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                        <div class="d-none" id="liked">0</div>
                        <a
                        {{#unless @member}}href ='#/portal'{{/unless}}
                        title="Like" rel="noopener" 
                        {{#if @member}}onclick="like()"{{/if}}
                        >{{> "icons/like"}}</a>
                        <p id="like-num" class="mt-1 font-weight-bold" style="font-size: large;">-</p>
            </div>
            <div class="ml-5 d-flex flex-column align-items-center">
                        <div class="d-none" id="clapped">0</div>
                        <a 
                        {{#unless @member}}href ='#/portal'{{/unless}} 
                        title="Like" rel="noopener" 
                        {{#if @member}}onclick="clap()"{{/if}}
                        >{{> "icons/clap"}}</a>
                        <p id="clap-num" class="mt-1 font-weight-bold" style="font-size: large;">-</p>
            </div>
            </div>
            <script src="{{asset "js/custom/like_and_clap.js"}}"></script>
            </div>