

@media only screen and (min-width: 1000px) {
    .post-content{
        width: 80%;
    }
    .full-post{
        display: flex;
    }
    .toc-container{
        position: sticky;
        position: -webkit-sticky;
        margin-right: 20px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .toc-container{
      margin-left: 40px;
    }
}
@media only screen and (min-width: 1200px) {
    .toc-container{
      margin-right: 40px;
    }
}

  .post-content{
      margin-left: 10px;
  }
  @media only screen and (min-width: 800px) {
    .post-content{
        margin-left: 40px;
    }
}
  @media only screen and (min-width: 1200px) {
    .post-content{
        margin-left: 100px;
    }
}
  @media only screen and (min-width: 1440px) {
    .post-content{
        margin-left: 150px;
    }
}
.full-post{
    box-sizing: border-box;
}
